[project]
	description = Some scripts oriented towards running OpenStack tempest tests in isolation of each other, one at a time and cleaning up after bogus cleanups. General idea is to track down true funcational failures.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Brent Eagles (beagles)
[access "refs/for/refs/*"]
	read = group user/Brent Eagles (beagles)
	push = group user/Brent Eagles (beagles)
	label-Code-Review = -2..+2 group user/Brent Eagles (beagles)
	label-Verified = -1..+1 group user/Brent Eagles (beagles)
	rebase = group user/Brent Eagles (beagles)
	removeReviewer = group user/Brent Eagles (beagles)
	submit = group user/Brent Eagles (beagles)
[access "refs/heads/*"]
	read = group user/Brent Eagles (beagles)
	create = group user/Brent Eagles (beagles)
	push = +force group user/Brent Eagles (beagles)
	pushMerge = group user/Brent Eagles (beagles)
[access "refs/tags/*"]
	push = +force group user/Brent Eagles (beagles)
	pushTag = group user/Brent Eagles (beagles)
	pushSignedTag = group user/Brent Eagles (beagles)
